<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This website was created by sanket sud.It uses data from mapbox.com and darksky.net!</p>
        <img class="potrait" src="img/robot.png">
        </div>
        
        {{>footer}}
    </body>

</html>